.itemsContainer {
  height: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 5px rgb(0 0 0 / 20%);
  position: relative;
  z-index: 1000;

  .itemTitle {
    width: 40%;
    margin: 0;
  }

  .loaderSpacer {
    display: flex;
    gap: 0.5rem;
    line-height: 3rem;
  }
}

.itemSaveStatus {
  width: 20%;
}
