@use "src/styles.module" as *;

.pageContent {
  padding: 1.5rem;
  min-height: calc(100vh - 9rem);

  .projectTitle {
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 0;
  }
}

.loaderContainer {
  @extend %loader;

  height: calc(100vh - 6rem);
}
