@{
    Layout = "Layouts/_Layout";
}
<link rel="stylesheet" href="~/scss/shared/styles.css"/>

<div class="card-container">
    <div class="card col-md-6 col-lg-4">
        <div class="card-body p-4">
            @RenderBody()
        </div>
    </div>
</div>