@use "src/styles.module" as *;

.pageContent {
  @include page-content-base;

  min-height: calc(100vh - 9rem);

  .noteTitleContainer {
    @include page-title-container
  }

  .noteTitle {
    @include entity-title;

    width: 75%;
  }
}

.editorLoader {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
