@import "/src/styles.module";

.pageContent {
  @include page-content-base;
  min-height: calc(100vh - 9rem);

  .noteTitleContainer {
    text-align: center;
    @include page-title-container;
  }

  .noteTitle {
    font-size: 2rem;
    font-weight: bolder;
    width: 75%;
    padding: 0;
  }
}

.editorLoader {
  @extend %loader;

  height: calc(100vh - 6rem);
}
