@import "/src/styles.module";

@mixin base-card {
  height: 100%;
}

.pageContent {
  @include page-content-base;

  .budgetInfoCard {
    @include base-card;
  }

  .budgetTitle {
    margin: 0;
  }

  .budgetRow {
    margin-bottom: 0.5rem;
  }

  .budgetDescriptionFormField{
    margin-bottom: 0;
  }
}

.card {
  @include base-card;
}

.preserveControlCard {
  @include base-card;
}

.tagLimitWarningsList {
  max-height: 200px;
  overflow-y: auto  ;
}

.tagLimitsResult {
  padding: 0;
}

.tagLimitsBlockDivider {
  @include base-card;
}

.loaderContainer {
  @extend %loader;

  height: calc(100vh - 6rem);
}
