<link rel="stylesheet" href="~/scss/shared/styles.css">

<div class="d-flex gap-2 justify-content-center mb-5 p-0">
    <img src="~/img/favicon.svg" class="system-logo" alt="Loading..."/>
    <h1>Global Hub</h1>
</div>