.modalTitle {
  margin-bottom: 0.5rem;
}

.detailsRow {
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: .5rem;
}

.infoBlock {
  margin: 2rem 0;
}

.detailsCard {
  margin-bottom: 1rem;
}

.secondaryInfoBlock {
  padding: 0 12px;
}

.selectControl {
  width: 100%;
}
