body {
  margin: 0;
  padding: 0;
}

.resizeHandle {
  width: 5px;
  margin-left: -2px;
  background-color: rgba(0, 0, 0, 0.1);

  &:hover, &:focus {
    transition: box-shadow 300ms ease 0s;
    box-shadow: rgba(0, 0, 0, 0.1) -3px 0px 0px 0px inset;
  }
}
