body {
  margin: 0;
  padding: 0;
}

.resizeHandle {
  width: 7px;
  margin: -5px 0 0 -5px;
  border-left: 2px solid rgb(255 255 255 / 0%);
  border-right: 2px solid rgb(255 255 255 / 0%);
  opacity: 0.2;
  z-index: 1000;
  box-sizing: border-box;
  background-clip: padding-box;

  &:hover {
    background-color: #1677ff;
  }

  &:active {
    border-color: #1677ff;
  }
}
