body {
  margin: 0;
  padding: 0;
}

.resizeHandle {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgb(255 255 255 / 0%);
  border-right: 5px solid rgb(255 255 255 / 0%);
  cursor: col-resize;
  background: #000;
  opacity: 0.2;
  z-index: 1000;
  box-sizing: border-box;
  background-clip: padding-box;

  &:hover, &:focus {
    transition: all 1s ease;
    border-left: 5px solid rgb(0 0 0 / 50%);
    border-right: 5px solid rgb(0 0 0 / 50%);
  }
}
