.siderContainer {
  height: 100vh;

  .systemLogo {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      margin: 0
    }
  }

  .siderDivider {
    margin-top: 0;
  }
}

.sideMenuTree {
  white-space: nowrap;
  align-items: flex-start;
  overflow: hidden;
}
